.bg-blue {
  background-color: $blue;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-lightblue {
  background-color: $light-blue;
}

.bg-red {
  background-color: $red;
}

.bg-salmon {
  background-color: $salmon;
}

.bg-green {
  background-color: $green;
}

.text-blue {
  color: $blue;
}
.text-lightblue {
  color: $light-blue;
}
.text-yellow {
  color: $yellow;
}
.text-green {
  color: $green;
}
.text-salmon {
  color: $salmon;
}
.text-red {
  color: $red;
}
