// variable colors

$primary-color: #14234c;
$secondary-color: #f9c51b;
$text-color: #76819e;
$blue: #1686e1;
$light-blue: #44bafd;
$red: #fd4444;
$salmon: #ff6f6f;
$green: #54d852;
$yellow: #f9e31b;
